services:
  provider:
    build:
      context: .
      dockerfile: Dockerfile.provider
    ports:
      - "5295:5295"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5295

  consumer:
    build:
      context: .
      dockerfile: Dockerfile.consumer
    ports:
      - "5127:5127"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5127
    depends_on:
      - provider
