services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080" # Consumer App
      - "8081:8081" # Generate App
    volumes:
      - ./Consumer/TokenClaimConsumer/TokenClaimConsumer.Api:/app/consumer
      - ./Generate/TokenClaimProvider/TokenClaimProvider.Api:/app/generate
